#display,
button {
  font: bold 32px Impact;
  border: 1px solid green;
  width: 100px;
  padding: 10px;
  margin: 10px;
}

#display {
  width: 450px;
  text-align: right;
  background-color: yellowgreen;
}

button {
  background-color: lightgreen;
}
